a {
  text-decoration: none;
}
body {
  font-family: Arial, sans-serif;
}
.wrapper {
  width: 1580px;
  margin: auto;
}
.left-sidebar {
  width: 250px;
  padding-left: 5px;
  -webkit-box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.7);
  box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.7);
}
.center-content {
  float: left;
  width: 1060px;
  
}
.right-sidebar {
  float: left;
  width: 270px;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-box-shadow: 0px -9px 15px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px -9px 15px rgba(0, 0, 0, 0.7);
  box-shadow: 0px -9px 15px rgba(0, 0, 0, 0.7);
}
.telefon {
  margin-top: 20px;
}
.telefon .title {
  color: #626262;
  font-size: 14px;
  margin-bottom: 5px;
}
.logo {
  text-align: center;
  margin-left: -5px;
}
.phone-icon {
  float: left;
  width: 50px;
}
.phone-text {
  float: left;
  width: 192px;
  padding-left: 5px;
}
.phone-text div {
  font-size: 22px;
  color: #626262;
}
.phone-text div b {
  font-weight: bold;
}
.phone-text a {
  font-size: 12px;
  color: #4573b1;
  float: right;
}
.phone-text a span {
  border-bottom: 1px dashed #4573b1;
}
.phone-text a img {
  position: relative;
  top: 4px;
}
.answerform {
  margin: 20px 0px;
}
.sms-link {
  display: block;
  width: 240px;
  height: 45px;
  text-align: center;
  background: #4573b1;
  color: white;
  font-size: 18px;
  line-height: 45px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.nav {
  text-transform: uppercase;
  padding-right: 6px;
}
.nav li {
  height: 35px;
  border-right: 5px solid #4573b1;
  margin-bottom: 10px;
  text-align: right;
}
.nav li a {
  display: inline-block;
  padding-right: 15px;
  font-weight: bold;
  font-size: 14px;
  color: #4573b1;
  height: 35px;
  line-height: 35px;
}
.nav li .arends-link {
  line-height: 18px;
}
.basket {
  width: 240px;
}
.basket .title {
  width: 100%;
  height: 35px;
  background: #eb1c2a;
  color: white;
  font-size: 14px;
  line-height: 35px;
  padding-left: 5px;
  padding-right: 18px;
  font-weight: bold;
}
.basket .title:after {
  content: "";
  border-top: 2px solid #4573b1;
  width: 240px;
  margin-left: -5px;
  margin-top: 1px;
}
.basket .price {
  float: right;
}
.basket-block {
  width: 230px;
  height: 130px;
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  background: url(../images/red-line.png) no-repeat;
}
.get-order {
  display: block;
  width: 110px;
  height: 32px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: white;
  background: #626262;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  padding-top: 3px;
  line-height: 13px;
  position: absolute;
  right: 0;
  bottom: -14px;
}
.text-basket {
  width: 119px;
  height: 102px;
  line-height: 31px;
  background: url(../images/basket.png) no-repeat;
  text-align: center;
  margin: auto;
  font-weight: bold;
  font-size: 24px;
  color: #626262;
}
.text-cell {
  width: 119px;
  height: 102px;
  display: table-cell;
  vertical-align: middle;
}
.search {
  position: relative;
}
.search input[type="text"] {
  width: 100%;
  outline: 0;
  height: 25px;
  font-size: 12px;
  font-family: Arial, sans-serif;
  padding-left: 5px;
  border: 1px solid #4573b1;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.search .s-in {
  display: block;
  width: 39px;
  height: 39px;
  outline: 0;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: -8px;
  right: -1px;
  background: url(../images/search.png) no-repeat;
}
.catalog {
  margin-top: 25px;
}
.catalog .title {
  height: 23px;
  color: #eb1c2a;
  text-transform: uppercase;
  padding-left: 6px;
  padding-top: 1px;
  font-weight: bold;
  font-size: 12px;
  background: url(../images/cata-line.png) no-repeat;
  background-position: 0 6px;
}
.cat-list {
  border: 1px solid #ededed;
}
.cat-list li {
  height: 30px;
  border-bottom: 1px solid #ededed;
}
.cat-list .cat-icon {
  display: table-cell;
  vertical-align: middle;
  width: 45px;
  height: 30px;
  text-align: center;
}
.cat-list .text {
  display: table-cell;
  vertical-align: middle;
  width: 210px;
  height: 30px;
  color: #626262;
  font-size: 12px;
  line-height: 14px;
}
.header {
  height: 50px;
  line-height: 47px;
  background: #626262;
  border-bottom: 3px solid #eb1c2a;
  text-align: center;
  color: white;
  font-size: 20px;
}
.slider-wrapper {
  position: relative;
  height: 333px;
  padding: 20px 0;
}
.slide-img {
  width: 866px;
  margin: auto;
}
.prev-slide {
  position: absolute;
  z-index: 2;
  left: 30px;
  top: 50%;
  margin-top: -126.5px;
}
.next-slide {
  position: absolute;
  z-index: 2;
  right: 30px;
  top: 50%;
  margin-top: -126.5px;
}
.last-news {
  width: 866px;
  margin: auto;
}
.last-news .title {
  color: #626262;
}
.last-news .title:after {
  content: "";
  display: block;
  width: 65px;
  border-top: 1px solid #4573b1;
  margin: 5px 0;
}
.news-wrap {
  margin-left: -55px;
}
.news-block {
  width: 405px;
  height: 70px;
  float: left;
  margin-bottom: 10px;
  margin-left: 55px;
}
.news-block .date {
  width: 95px;
  height: 45px;
  border-right: 1px solid #4573b1;
  float: left;
  margin-top: 9px;
}
.news-block .date .number {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: #4573b1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 26px;
  font-weight: bold;
}
.news-block .date .number-cell {
  display: table-cell;
  vertical-align: middle;
  width: 45px;
  height: 45px;
}
.news-block .date .month {
  display: inline-block;
  font-size: 12px;
  color: #4573b1;
  font-weight: bold;
  margin-left: -3px;
}
.news-block .news-text {
  float: left;
  padding-left: 5px;
  width: 310px;
}
.news-block .news-text h5 {
  font-size: 12px;
  color: #4573b1;
  font-weight: bold;
  margin-bottom: 2px;
}
.news-block .news-text p {
  font-size: 12px;
  color: #626262;
}
.novelty-wrapp {
  margin-top: 15px;
}
.novelty-wrapp .h3 {
  padding-left: 80px;
}
.novelty-block {
  float: left;
  width: 320px;
  margin-left: 25px;
}
.nov-img {
  float: left;
  width: 150px;
}
.nov-text {
  width: 170px;
  padding-top: 15px;
  padding-left: 15px;
  float: left;
}
.nov-text .title {
  font-weight: bold;
  color: #4573b1;
  font-size: 20px;
}
.nov-text .nov-desc {
  height: 85px;
  font-size: 12px;
  color: #626262;
  line-height: 1.2;
}
.nov-text .nov-cell {
  display: table-cell;
  vertical-align: middle;
  width: 170px;
  height: 85px;
}
.nov-text .price {
  color: #eb1c2a;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 7px;
}
.nov-text .more {
  float: right;
  font-size: 14px;
  color: #4573b1;
}
.main-header {
  font-size: 18px;
  color: #626262;
  width: 866px;
  margin: auto;
}
.main-header:after {
  content: "";
  display: block;
  border-top: 1px solid #4573b1;
  width: 55px;
  margin-top: 5px;
}
.equipment {
  width: 866px;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 20px;
}
.equipment p {
  font-size: 14px;
  color: #626262;
  margin-top: 15px;
  line-height: 15px;
}
.footer {
  border-top: 3px solid #eb1c2a;
  background: #626262;
  position: relative;
  padding-top: 20px;
  height: 125px;
}
.foot-text {
  width: 866px;
  margin: auto;
}
.foot-text p {
  width: 440px;
  color: white;
  font-size: 12px;
  line-height: 15px;
}
.copyright {
  position: absolute;
  z-index: 2;
  right: 25px;
  bottom: 20px;
  text-align: right;
  font-size: 12px;
  color: white;
  line-height: 1.1;
}
.red-o {
  color: #eb1c2a;
}
.about-wrapper {
  width: 1020px;
  margin: auto;
  border-top: 1px solid #4573b1;
  margin-top: 70px;
}
.about-container {
  width: 866px;
  padding-bottom: 20px;
  margin: auto;
}
.tabs {
  margin-top: -30px;
}
.tabs li {
  float: left;
  cursor: pointer;
  width: 100px;
  height: 30px;
  line-height: 28px;
  font-size: 12px;
  color: white;
  background: #4573b1;
  text-align: center;
  border: 1px solid #4573b1;
  border-bottom: 0;
  margin-right: 10px;
}
.tabs li.active,
.tabs li:hover {
  color: #4573b1;
  background: white;
}
.about-text {
  padding-top: 20px;
}
.about-desc {
  padding-top: 20px;
}
.about-desc p {
  font-size: 14px;
  color: #626262;
  margin-bottom: 25px;
  line-height: 17px;
}
.about-desc img {
  float: right;
}
.photo {
  border: 1px solid #4573b1;
  position: relative;
  padding: 0 5px;
  padding-bottom: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.photo .title {
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 14px;
  color: #626262;
}
.photo-wrapp {
  margin-left: -18px;
}
.photo-block {
  float: left;
  margin-left: 18px;
  width: 127px;
}
.photo-prev {
  position: absolute;
  left: -27px;
  top: 50%;
  margin-top: -26px;
  z-index: 2;
}
.photo-next {
  position: absolute;
  right: -28px;
  top: 50%;
  margin-top: -26px;
  z-index: 2;
}
.main-air {
  width: 1020px;
  margin: auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #4573b1;
}
.breadcrumbs {
  border-bottom: 1px solid #4573b1;
  padding-top: 20px;
}
.breadcrumbs li {
  float: left;
  padding-top: 10px;
}
.breadcrumbs li:first-child {
  padding-top: 0;
}
.breadcrumbs li:first-child span {
  position: relative;
  top: -4px;
}
.breadcrumbs li a {
  font-size: 16px;
  color: #626262;
}
.breadcrumbs li span {
  padding: 0 10px;
}
.filter {
  border-bottom: 1px solid #4573b1;
  padding-left: 80px;
  position: relative;
}
.filter td {
  padding: 20px 0px;
  width: 185px;
  vertical-align: middle;
}
.filter .clas {
  font-size: 18px;
  font-weight: bold;
  color: #626262;
}
.filter .radio {
  color: #626262;
  font-size: 14px;
  text-transform: uppercase;
}
.apply-filter {
  width: 100px;
  height: 35px;
  display: block;
  background: #4573b1;
  font-size: 12px;
  padding-top: 7px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: -17.5px;
  right: 185px;
  border-right: 1px solid white;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
}
.reset {
  width: 100px;
  height: 35px;
  display: block;
  background: #4573b1;
  font-size: 12px;
  padding-top: 7px;
  color: white;
  right: 85px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: -17.5px;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}
.top-fil {
  padding: 40px 0;
  font-size: 12px;
}
.top-fil td {
  padding-right: 25px;
  vertical-align: top;
}
.top-fil td:first-child {
  color: #4573b1;
}
.item-container {
  width: 866px;
  margin: auto;
  margin-bottom: 20px;
}
.item-desc {
  width: 530px;
  float: left;
}
.item-img {
  float: left;
  width: 336px;
  text-align: right;
}
.item-info {
  border-bottom: 2px solid #4573b1;
}
.item-info .left-block {
  width: 50%;
  float: left;
}
.item-info .right-block {
  width: 50%;
  float: right;
  text-align: right;
}
.item-info .cod {
  color: #4573b1;
  font-weight: bold;
  font-size: 42px;
}
.item-info .price {
  color: red;
  font-weight: bold;
}
.item-info .price b {
  font-size: 42px;
}
.list-item {
  font-size: 12px;
  color: #626262;
  padding: 20px;
}
.list-item li {
  margin-bottom: 15px;
}
.list-item span {
  font-weight: bold;
}
.add-basket {
  margin-top: 40px;
}
.after-info {
  padding: 20px 0;
  font-size: 12px;
  color: #626262;
}
.after-info a {
  text-transform: uppercase;
  color: #4573b1;
  font-weight: bold;
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}
.item-wrapper {
  border-bottom: 1px solid #4573b1;
}
.after-item-text {
  width: 866px;
  margin: auto;
  padding: 20px 0;
  font-size: 14px;
  color: #626262;
  text-align: justify;
}
.detail-img {
  width: 400px;
  float: left;
}
.detail-img-block {
  border: 1px solid #4573b1;
}
.miniature {
  padding: 10px 5px;
}
.detail-desc {
  width: 530px;
  float: right;
}
.detail-desc .item-desc {
  float: none;
  width: auto;
}
.detail {
  padding-left: 65px;
  padding-top: 30px;
}
.detail .item-info {
  border-bottom: 1px solid #4573b1;
}
.detail .after-info {
  border-bottom: 1px solid #4573b1;
}
.detail .cod,
.detail .price {
  border-bottom: 1px solid #4573b1;
  height: 43px;
}
.detail .col-33 {
  float: left;
  width: 33.3%;
  font-size: 12px;
  color: #4573b1;
}
.detail .col-33 img {
  margin-right: 10px;
}
.icon-detail {
  padding: 20px 0;
  border-bottom: 1px solid #4573b1;
}
.detail-text {
  font-size: 12px;
}
.detail-text h5 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #4573b1;
  margin-top: 18px;
}
.detail-text p {
  color: #626262;
  margin-top: 18px;
}
.detail-text .return {
  display: inline-block;
  float: right;
  text-decoration: underline;
  margin-top: 18px;
  color: #4573b1;
}
.h3 {
  text-transform: uppercase;
  color: #4573b1;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}
.documentation {
  font-weight: bold;
  font-size: 12px;
}
.documentation a {
  color: #4573b1;
  text-decoration: underline;
}
.documentation img {
  margin-right: 20px;
}
.novelty-also {
  padding-bottom: 20px;
}
.order-block1 {
	width:982px;
	margin:10px auto 60px;
}
.order-block2 {
	width:800px;
	margin:10px auto 30px;
}
.order-step1,.order-step2,.order-step3 {
	float:left;
	width:327px;
	height:172px;
}
.step1,.step2,.step3 {
	float:left;
	width:256px;
	height:135px;
}
.basket-table {
	width:860px;
	margin:0 auto;
}
.basket-table td {
	vertical-align:top;
}
.basket-item-title {
	font-size: 24px;
	font-weight: bold;
	color: #5781b9;
}
.basket-item-title:first-letter {
	color:red;
}
.basket-item-info {
	font-size: 14px;
	padding: 10px 20px;
	color:#626262;
}
.basket-item-more {
	padding: 4px 10px 0;
	font-size:14px;
	float:left;
}
.basket-item-more a {
	color:#5781b9;
}
.basket-item-price {
	padding:0 10px;
	color:#db0703;
	font-size:20px;
	float:right;
	font-weight:bold;
}
.basket-table thead td{
	text-align:center;
	font-size: 20px;
	font-weight: bold;
	line-height:45px;
}
.basket-table thead td.basket-kolvo {
	color:#5781b9;
}
.basket-table thead td.basket-sum {
	color:white;
	background:#5781b9;
	border-left:5px solid #5781b9;
	border-right:5px solid #5781b9;
}
.amount {
	width: 70px;
	margin: 24px auto;
	text-align:center;
}
.amount-title {
	font-size: 12px;
	font-weight: bold;
}
.amount input {
	width:34px;
	height:33px;
	border-radius:5px;
	border:1px solid gray;
	text-align:center;
	font-size:18px;
	float:left;
	margin:0 5px;
}
.amount .amount-up {
	width:11px;
	height:20px;
	background:url('../images/arr-right.png') no-repeat;
	float:left;
	margin-top: 6px;
}
.amount .amount-down {
	width:11px;
	height:20px;
	background:url('../images/arr-left.png') no-repeat;
	float:left;
	margin-top: 6px;
}
.basket-item-sum {
	width:100px;
	border-left:5px solid #5781b9;
	border-right:5px solid #5781b9;
	border-bottom: 1px solid #5781b9;
	text-align:center;
	color:#eb1c2a;
	font-weight: bold;
	font-size: 20px;
	vertical-align:middle !important;
}
.actions {
	text-align:center;
	vertical-align: middle !important;
}
.basket-item-del {
	display: block;
	width: 77px;
	height: 60px;
	background: url('../images/del.png') top no-repeat;
	padding-top: 40px;
	font-weight: bold;
	color: #5781b9;
	margin: 20px auto;
}
.basket-item-amount {
	border-bottom: 1px solid #5781b9;
	vertical-align: middle !important;
}
.basket-bottom-border {
	height:1px;
	background:url('../images/basket-item-border.png') no-repeat;
}
.basket-item {
	padding-top:10px;
}
.basket-item-img {
	padding-top:10px;
}
.nobottom {
	border-bottom:0 !important;
}
.basket-sum-border {
	width:154px;
	height:39px;
	background:url('../images/basket-sum-border.png') 108px 0px no-repeat;
}
.basket-info {
	width:800px;
	margin:20px auto;
}
.personal-type {
	margin-left:10px;
	line-height:24px;
	font-size:20px;
	font-weight:bold;
	color:#5781b9;
}
.basket-info-person {
	float:left;
	width:300px;
}
.basket-info-sum {
	float:right;
	width:300px;
	color:#5781b9;
	font-size:30px;
	font-weight:bold;
}
.basket-info-sum span{
	color:#4fc151;
}
.cont-button {
	background:#4fc151;
	width:290px;
	height:75px;
	border-radius:10px;
	display:block;
	float:right;
	text-align:center;
	line-height:75px;
	font-size: 30px;
	color: white;
}
.cont-block {
	margin:0px 70px 30px 0;
}
.order-area {
	width:960px;
	margin:0 auto 50px;
	background: url('../images/bg-order.png') right no-repeat;
	min-height: 475px;
}
.order-left-side {
	float:left;
}
.order-right-side {
	float:right;
}
.input-block {
	width:430px;
	margin-top: 20px;
}
.radio-block {
	margin:34px;
}
.input-block h5 {
	color:#626262;
	margin-bottom:5px;
	margin-left:10px;
	font-size:14px;
}
.input-block input {
	width:430px;
	height:40px;
	border:1px solid #4573b1;
	border-radius:7px;
	outline:none;
	font-size:18px;
	padding:0 10px;
}
.input-block textarea {
	width:430px;
	height:168px;
	border:1px solid #4573b1;
	border-radius:7px;
	outline:none;
	font-size:18px;
	padding:0 10px;
}
.select-city {
	padding:0 20px;
}
.uploadfile {
	margin:10px 0 62px;
}
.uploadfile span {
	padding-left:10px;
	font-size:14px;
	color:#626262;
}
.order-actions {
	float:right;
	width:400px;
}
.order-back-link {
	float:left;
	line-height:62px;
	font-size:24px;
	color:#5781b9;
	font-weight:bold;
}
.order-cont-link {
	background:#4fc151;
	width:250px;
	height:62px;
	border-radius:10px;
	display:block;
	float:right;
	text-align:center;
	line-height:62px;
	font-size: 30px;
	color: white;
}
.deactive {
	background:#999;
}