a {
  text-decoration: none;
}
body {
  font-family: Arial, sans-serif;
  overflow-y: hidden;
}
.wrapper {
  width: 100%;
  margin: auto;
  height: 100%;
}

.left-sidebar {
  position: fixed;
  top: 0;
  width: 16%;
  height: 100%;
  -webkit-box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.7);
  box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.7);
}
.rollbar-content{
  overflow: auto;
}
.center-content {
  float: left;
  width: 67%;
  margin-left: 16%;
  position: relative;
  min-height: 100%;
}
.right-sidebar {
  float: left;
  width: 17%;
  height: 100%;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-box-shadow: 0px -9px 15px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px -9px 15px rgba(0, 0, 0, 0.7);
  box-shadow: 0px -9px 15px rgba(0, 0, 0, 0.7);
}
.telefon {
  width: 245px;
  margin: auto;
  margin-top: 2%;
  height: 8%;
}
.telefon .title {
  color: #626262;
  font-size: 14px;
  margin-bottom: 5px;
}
.logo {
  text-align: center;
  height: 17%;
}
  .logo img{
   width: 55%;
   height: auto;
  }
.phone-icon {
  float: left;
  width: 50px;
}
   .phone-icon img{
      width: 45px;
      height: 45px;
   }
.phone-text {
  float: left;
  width: 192px;
  padding-left: 5px;
}
.phone-text div {
  font-size: 22px;
  color: #626262;
}
.phone-text div b {
  font-weight: bold;
}
.phone-text a {
  font-size: 12px;
  color: #4573b1;
  float: right;
}
.phone-text a span {
  border-bottom: 1px dashed #4573b1;
}
.phone-text a img {
  position: relative;
  top: 4px;
}
.answerform {
  margin: 5% 0px;
  height: 5%;
}
.sms-link {
  display: block;
  width: 96%;
  margin: auto;
  height: 40px;
  text-align: center;
  background: #4573b1;
  color: white;
  font-size: 18px;
  line-height: 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.nav {
  text-transform: uppercase;
  padding-right: 6px;
  height: 40%;
}
.nav ul{
   height: 100%;
}
.nav li {
  height: 10%;
  border-right: 5px solid #4573b1;
  margin-bottom: 3%;
  text-align: right;
}
  .nav li:hover,
  .nav li.active{
    border-right-color: #ff0000;
  }
.nav li a {
  display: inline-block;
  padding-right: 15px;
  font-weight: bold;
  font-size: 14px;
  color: #4573b1;
  height: 100%;
  line-height: 2.5em;
}
.nav li .arends-link {
  line-height: 18px;
}
.basket {
  width: 240px;
  margin: auto;
  basket: 21%;
}
.basket .title {
  width: 100%;
  height: 35px;
  background: #eb1c2a;
  color: white;
  font-size: 14px;
  line-height: 35px;
  padding-left: 5px;
  padding-right: 18px;
  font-weight: bold;
}
.basket .title:after {
  content: "";
  border-top: 2px solid #4573b1;
  width: 240px;
  margin-left: -5px;
  margin-top: 1px;
}
.basket .price {
  float: right;
}
.basket-block {
  width: 230px;
  height: 130px;
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  background: url(../images/red-line.png) no-repeat;
}
.get-order {
  display: block;
  width: 110px;
  height: 32px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: white;
  background: #626262;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  outline: 0;
  border:0;
  white-space: pre-wrap;
  position: absolute;
  right: 0;
  bottom: -14px;
}
   .get-order.active{
      background: #31EA29;
      cursor: pointer;
   }
.text-basket {
  width: 119px;
  height: 102px;
  line-height: 31px;
  background: url(../images/basket.png) no-repeat;
  text-align: center;
  margin: auto;
  font-weight: bold;
  font-size: 24px;
  color: #626262;
}
.text-cell {
  width: 119px;
  height: 102px;
  display: table-cell;
  vertical-align: middle;
}
.search {
  position: relative;
}
.search input[type="text"] {
  width: 100%;
  outline: 0;
  height: 25px;
  font-size: 12px;
  font-family: Arial, sans-serif;
  padding-left: 5px;
  border: 1px solid #4573b1;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.search .s-in {
  display: block;
  width: 39px;
  height: 39px;
  outline: 0;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: -8px;
  right: -1px;
  background: url(../images/search.png) no-repeat;
}
.catalog {
  margin-top: 25px;
}
.catalog .title {
  height: 23px;
  color: #eb1c2a;
  text-transform: uppercase;
  padding-left: 6px;
  padding-top: 1px;
  font-weight: bold;
  font-size: 12px;
  background: url(../images/cata-line.png) no-repeat;
  background-position: 0 6px;
}
.cat-list {
  border: 1px solid #ededed;
}
.cat-list > ul > li {
  min-height: 30px;
  border-bottom: 1px solid #ededed;
}
.cat-list a{
  display: block;
  position: relative;
}
.cat-list > ul > li > a{
  display: block;
}
  .cat-list > ul ul{
    font-size: 12px;
    line-height: 1.4;
  }
  .cat-list > ul ul a{
     color: #626262;
  }
  .cat-list > ul ul a:hover,
  .cat-list > ul ul a.active{
    color: #eb1c2a;
  }
  .cat-list > ul > li:hover  > a,
  .cat-list > ul > li.active > a{
    background: #4573b1;
  }
   .cat-list > ul>li.active .text,
   .cat-list > ul>li:hover .text{
    color: #fff;
   }
  .cat-list > ul > li.active{
    padding-bottom: 20px;
  }

  
.second-level{
  margin-left: 25px;
  position: relative;
}
  .second-level > li a{
    padding-left: 10px;
  }
  .second-level > li:first-child a{
    padding-top: 20px;
  }
.cat-list > ul > li.active > a:before{
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 24px;
  bottom: 0;
  background: url(../images/before.png)no-repeat;
}
.border{
  background: url(../images/border.png)repeat-y;
}
.cat-list a.active:before{
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  position: absolute;
  left: -1px;
  bottom: 0;
  background: url(../images/before.png)no-repeat;
}
.third-level,
.fourth-level{
  margin-left: 10px;
  padding-top: 10px;
  position: relative;
}

.cat-list .cat-icon {
  display: table-cell;
  vertical-align: middle;
  width: 45px;
  height: 30px;
  text-align: center;
}
  .cat-icon span{
    display: block;
    margin: auto;
    width: 30px;
    height: 20px;
    background-repeat: no-repeat;
  }
  .cat-list > ul > li:hover > a .cat-icon span, 
  .cat-list > ul > li.active > a a .cat-icon span{
    background-position: 100%;
  }

  .cat-2{
    background: url(../images/icons/2.png)no-repeat;
  }
  .cat-3{
    background: url(../images/icons/3.png)no-repeat;
  }
  .cat-4{
    background: url(../images/icons/4.png)no-repeat;
  }
  .cat-5{
    background: url(../images/icons/5.png)no-repeat;
  }
  .cat-6{
    background: url(../images/icons/6.png)no-repeat;
  }
  .cat-7{
    background: url(../images/icons/7.png)no-repeat;
  }
  .cat-8{
    background: url(../images/icons/8.png)no-repeat;
  }
  .cat-9{
    background: url(../images/icons/9.png)no-repeat;
  }
  .cat-10{
    background: url(../images/icons/10.png)no-repeat;
  }
  .cat-11{
    background: url(../images/icons/11.png)no-repeat;
  }
  .cat-12{
    background: url(../images/icons/12.png)no-repeat;
  }
  .cat-13{
    background: url(../images/icons/13.png)no-repeat;
  }
  .cat-14{
    background: url(../images/icons/14.png)no-repeat;
  }
  .cat-15{
    background: url(../images/icons/15.png)no-repeat;
  }
  .cat-16{
    background: url(../images/icons/16.png)no-repeat;
  }
  .cat-17{
    background: url(../images/icons/17.png)no-repeat;
  }
  .cat-18{
    background: url(../images/icons/18.png)no-repeat;
  }
  .cat-19{
    background: url(../images/icons/19.png)no-repeat;
  }
  .cat-20{
    background: url(../images/icons/20.png)no-repeat;
  }
  .cat-21{
    background: url(../images/icons/21.png)no-repeat;
  }









.cat-list .text {
  display: table-cell;
  vertical-align: middle;
  width: 210px;
  height: 30px;
  color: #626262;
  font-size: 12px;
  line-height: 14px;
}
.header {
  height: 50px;
  line-height: 47px;
  background: #626262;
  border-bottom: 3px solid #eb1c2a;
  text-align: center;
  color: white;
  font-size: 20px;
}
.slider-wrapper {
  position: relative;
  width: 1060px;
  margin: auto;
  height: 333px;
  padding: 20px 0;
}
  .slider-wrapper .bx-wrapper{
    width: 866px;
    margin: auto;
  }

  .slider-wrapper .bx-wrapper .bx-prev{
    left: -65px;
  }
  .slider-wrapper .bx-wrapper .bx-next{
    right: -65px;
  }
.slide-img {
  width: 866px;
  margin: auto;
}

#certificates,
#requisites{
  display: none;
}
.prev-slide {
  position: absolute;
  z-index: 2;
  left: 30px;
  top: 50%;
  margin-top: -126.5px;
}
.next-slide {
  position: absolute;
  z-index: 2;
  right: 30px;
  top: 50%;
  margin-top: -126.5px;
}
.last-news {
  width: 866px;
  margin: auto;
}
.last-news .title {
  color: #626262;
}
.last-news .title:after {
  content: "";
  display: block;
  width: 65px;
  border-top: 1px solid #4573b1;
  margin: 5px 0;
}
.news-wrap {
  margin-left: -55px;
}
.news-block {
  width: 405px;
  height: 70px;
  float: left;
  margin-bottom: 10px;
  margin-left: 55px;
}
.news-block .date {
  width: 95px;
  height: 45px;
  border-right: 1px solid #4573b1;
  float: left;
  margin-top: 9px;
}
.news-block .date .number {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: #4573b1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 26px;
  font-weight: bold;
}
.news-block .date .number-cell {
  display: table-cell;
  vertical-align: middle;
  width: 45px;
  height: 45px;
}
.news-block .date .month {
  display: inline-block;
  font-size: 12px;
  color: #4573b1;
  font-weight: bold;
  margin-left: -3px;
}
.news-block .news-text {
  float: left;
  padding-left: 5px;
  width: 310px;
}
.news-block .news-text h5 {
  font-size: 12px;
  color: #4573b1;
  font-weight: bold;
  margin-bottom: 2px;
}
.news-block .news-text p {
  font-size: 12px;
  color: #626262;
}
.novelty-wrapp {
  width: 1060px;
  margin: auto;
  margin-top: 15px;
}
.novelty-wrapp .h3 {
  padding-left: 80px;
}
.novelty-block {
  float: left;
  width: 320px !important;
  margin-right: 10px;
}
.nov-img {
  float: left;
  width: 150px;
}
.nov-text {
  width: 150px;
  padding-top: 15px;
  text-align: left;
  float: left;
}
.nov-text .title {
  font-weight: bold;
  color: #4573b1;
  font-size: 20px;
}
.nov-text .nov-desc {
  height: 85px;
  font-size: 12px;
  color: #626262;
  line-height: 1.2;
}
.nov-text .nov-cell {
  display: table-cell;
  vertical-align: middle;
  width: 170px;
  height: 85px;
}
.nov-text .price {
  color: #eb1c2a;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 7px;
}
.nov-text .more {
  float: right;
  font-size: 14px;
  color: #4573b1;
}
.main-header {
  font-size: 18px;
  color: #626262;
  width: 866px;
  margin: auto;
}
.main-header:after {
  content: "";
  display: block;
  border-top: 1px solid #4573b1;
  width: 55px;
  margin-top: 5px;
}
.equipment {
  width: 866px;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 20px;
}
.equipment p {
  font-size: 14px;
  color: #626262;
  margin-top: 15px;
  line-height: 15px;
}
.main-wrapp{
  padding-bottom: 135px;
}
.footer {
  border-top: 3px solid #eb1c2a;
  background: #626262;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  height: 125px;
}
.foot-text {
  width: 866px;
  margin: auto;
}
.foot-text p {
  width: 440px;
  color: white;
  font-size: 12px;
  line-height: 15px;
}
.copyright {
  position: absolute;
  z-index: 2;
  right: 25px;
  bottom: 20px;
  text-align: right;
  font-size: 12px;
  color: white;
  line-height: 1.1;
}
.red-o {
  color: #eb1c2a;
}
.about-wrapper {
  width: 1020px;
  margin: auto;
  border-top: 1px solid #4573b1;
  margin-top: 70px;
}
.about-container {
  width: 866px;
  padding-bottom: 20px;
  margin: auto;
}
.tabs {
  margin-top: -30px;
}
.tabs li {
  float: left;
  cursor: pointer;
  width: 100px;
  height: 30px;
  line-height: 28px;
  font-size: 12px;
  color: white;
  background: #4573b1;
  text-align: center;
  border: 1px solid #4573b1;
  border-bottom: 0;
  margin-right: 10px;
}
.tabs li.active,
.tabs li:hover {
  color: #4573b1;
  background: white;
}
.about-text {
  padding-top: 20px;
}
.about-desc {
  padding-top: 20px;
}
.about-desc p {
  font-size: 14px;
  color: #626262;
  margin-bottom: 25px;
  line-height: 17px;
}
.about-desc img {
  float: right;
}
.photo {
  border: 1px solid #4573b1;
  position: relative;
  padding: 0 5px;
  padding-bottom: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.photo .title {
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 14px;
  color: #626262;
}
/* .photo-wrapp {
  margin-left: -18px;
} */


.photo .bx-wrapper .bx-controls-direction a{
  width: 26px;
  height: 52px;
  margin-top: -46px;
  background-size: contain;
}
.photo .bx-wrapper .bx-prev{
  background: url(../images/photo-prev.png)no-repeat;
  left: -41px;
}
.photo .bx-wrapper .bx-next{
  right: -40px;
  background: url(../images/photo-next.png)no-repeat;
}


.photo-block {
  float: left;
  margin-left: 18px;
  width: 127px;
}
.photo-prev {
  position: absolute;
  left: -27px;
  top: 50%;
  margin-top: -26px;
  z-index: 2;
}
.photo-next {
  position: absolute;
  right: -28px;
  top: 50%;
  margin-top: -26px;
  z-index: 2;
}
.main-air {
  width: 1020px;
  margin: auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #4573b1;
}
.breadcrumbs {
  border-bottom: 1px solid #4573b1;
  padding-top: 20px;
}
.breadcrumbs li {
  float: left;
  padding-top: 10px;
}
.breadcrumbs li:first-child {
  padding-top: 0;
}
.breadcrumbs li:first-child span {
  position: relative;
  top: -4px;
}
.breadcrumbs li a {
  font-size: 16px;
  color: #626262;
}
.breadcrumbs li span {
  padding: 0 10px;
}
.filter {
  border-bottom: 1px solid #4573b1;
  padding-left: 80px;
  padding-bottom: 25px;
  position: relative;
}
.filter td {
  width: 185px;
  vertical-align: middle;
}
  .filter tr:last-child td{
    padding-bottom: 30px;
  }
.filter .clas {
  font-size: 18px;
  font-weight: bold;
  color: #626262;
  display: inline-block;
  padding-top: 16px;
}
.filter .radio {
  color: #626262;
  font-size: 14px;
  padding-right: 5px;
  text-transform: uppercase;
}

.radio input[type=checkbox] {
  position: absolute;
  left: -10000px;
}
.radio {
  background: url(../images/checkbox.png)no-repeat 3px 19px;
  padding-left: 42px;
  padding-top: 28px;
  height: 50px;
  cursor: pointer;
  position: relative;
}
.radio.active {
  background: url(../images/checkbox-active.png)no-repeat 0 0;
}




.apply-filter {
  width: 100px;
  height: 35px;
  display: block;
  background: #4573b1;
  font-size: 12px;
  padding-top: 7px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: -17.5px;
  right: 185px;
  border-right: 1px solid white;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
}
.reset {
  width: 100px;
  height: 35px;
  display: block;
  background: #4573b1;
  font-size: 12px;
  padding-top: 7px;
  color: white;
  right: 85px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: -17.5px;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}
.top-fil {
  padding: 40px 0;
  font-size: 12px;
}
.top-fil td {
  padding-right: 25px;
  vertical-align: top;
}
.top-fil td:first-child {
  color: #4573b1;
}
.item-container {
  width: 866px;
  margin: auto;
  margin-bottom: 20px;
}
.item-desc {
  width: 530px;
  float: left;
}
.item-img {
  float: left;
  width: 336px;
  text-align: right;
}
.item-info {
  border-bottom: 2px solid #4573b1;
}
.item-info .left-block {
  width: 50%;
  float: left;
}
.item-info .right-block {
  width: 50%;
  float: right;
  text-align: right;
}
.item-info .cod {
  color: #4573b1;
  font-weight: bold;
  font-size: 42px;
}
.item-info .price {
  color: red;
  font-weight: bold;
}
.item-info .price b {
  font-size: 42px;
}
.list-item {
  font-size: 12px;
  color: #626262;
  padding: 20px;
}
.list-item li {
  margin-bottom: 15px;
}
.list-item span {
  font-weight: bold;
}
.add-basket {
  margin-top: 40px;
}
.after-info {
  padding: 20px 0;
  font-size: 12px;
  color: #626262;
}
.after-info a {
  text-transform: uppercase;
  color: #4573b1;
  font-weight: bold;
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}
.item-wrapper {
  border-bottom: 1px solid #4573b1;
}
.after-item-text {
  width: 866px;
  margin: auto;
  padding: 20px 0;
  font-size: 14px;
  color: #626262;
  text-align: justify;
}
.detail-img {
  width: 400px;
  float: left;
}
.detail-img-block {
  border: 1px solid #4573b1;
}
.miniature {
  padding: 10px 5px;
}
.detail-desc {
  width: 530px;
  float: right;
}
.detail-desc .item-desc {
  float: none;
  width: auto;
}
.detail {
  padding-left: 65px;
  padding-top: 30px;
}
.detail .item-info {
  border-bottom: 1px solid #4573b1;
}
.detail .after-info {
  border-bottom: 1px solid #4573b1;
}
.top-title{
  border-bottom: 1px solid #4573b1;
}

.detail .cod,
.detail .price {
}
.detail .col-33 {
  float: left;
  width: 33.3%;
  font-size: 12px;
  color: #4573b1;
}
.detail .col-33 img {
  margin-right: 10px;
}
.icon-detail {
  padding: 20px 0;
  border-bottom: 1px solid #4573b1;
}
.detail-text {
  font-size: 12px;
}
.detail-text h5 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #4573b1;
  margin-top: 18px;
}
.detail-text p {
  color: #626262;
  margin-top: 18px;
}
.detail-text .return {
  display: inline-block;
  float: right;
  text-decoration: underline;
  margin-top: 18px;
  color: #4573b1;
}
.h3 {
  text-transform: uppercase;
  color: #4573b1;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}
.documentation {
  font-weight: bold;
  font-size: 12px;
}
.documentation a {
  color: #4573b1;
  text-decoration: underline;
}
.documentation img {
  margin-right: 20px;
}
.novelty-also {
  padding-bottom: 20px;
}
.order-block1 {
  width:982px;
  margin:10px auto 60px;
}
.order-block2 {
  width:800px;
  margin:10px auto 30px;
}
.order-step1,.order-step2,.order-step3 {
  float:left;
  width:327px;
  height:172px;
}
.step1,.step2,.step3 {
  float:left;
  width:256px;
  height:135px;
}
.basket-table {
  width:860px;
  margin:0 auto;
}
.basket-table td {
  vertical-align:top;
}
.basket-item-title {
  font-size: 24px;
  font-weight: bold;
  color: #5781b9;
}
.basket-item-title:first-letter {
  color:red;
}
.basket-item-info {
  font-size: 14px;
  padding: 10px 20px;
  color:#626262;
}
.basket-item-more {
  padding: 4px 10px 0;
  font-size:14px;
  float:left;
}
.basket-item-more a {
  color:#5781b9;
}
.basket-item-price {
  padding:0 10px;
  color:#db0703;
  font-size:20px;
  float:right;
  font-weight:bold;
}
.basket-table thead td{
  text-align:center;
  font-size: 20px;
  font-weight: bold;
  line-height:45px;
}
.basket-table thead td.basket-kolvo {
  color:#5781b9;
}
.basket-table thead td.basket-sum {
  color:white;
  background:#5781b9;
  border-left:5px solid #5781b9;
  border-right:5px solid #5781b9;
}
.amount {
  width: 70px;
  margin: 24px auto;
  text-align:center;
}
.amount-title {
  font-size: 12px;
  font-weight: bold;
}
.amount input {
  width:34px;
  height:33px;
  border-radius:5px;
  border:1px solid gray;
  text-align:center;
  font-size:18px;
  float:left;
  margin:0 5px;
}
.amount .amount-up {
  width:11px;
  height:20px;
  background:url('../images/arr-right.png') no-repeat;
  float:left;
  margin-top: 6px;
}
.amount .amount-down {
  width:11px;
  height:20px;
  background:url('../images/arr-left.png') no-repeat;
  float:left;
  margin-top: 6px;
}
.basket-item-sum {
  width:100px;
  border-left:5px solid #5781b9;
  border-right:5px solid #5781b9;
  border-bottom: 1px solid #5781b9;
  text-align:center;
  color:#eb1c2a;
  font-weight: bold;
  font-size: 20px;
  vertical-align:middle !important;
}
.actions {
  text-align:center;
  vertical-align: middle !important;
}
.basket-item-del {
  display: block;
  width: 77px;
  height: 60px;
  background: url('../images/del.png') top no-repeat;
  padding-top: 40px;
  font-weight: bold;
  color: #5781b9;
  margin: 20px auto;
}
.basket-item-amount {
  border-bottom: 1px solid #5781b9;
  vertical-align: middle !important;
}
.basket-bottom-border {
  height:1px;
  background:url('../images/basket-item-border.png') no-repeat;
}
.basket-item {
  padding-top:10px;
}
.basket-item-img {
  padding-top:10px;
}
.nobottom {
  border-bottom:0 !important;
}
.basket-sum-border {
  width:154px;
  height:39px;
  background:url('../images/basket-sum-border.png') 108px 0px no-repeat;
}
.basket-info {
  width:800px;
  margin:20px auto;
}
.personal-type {
  margin-left:10px;
  line-height:24px;
  font-size:20px;
  font-weight:bold;
  color:#5781b9;
}
.basket-info-person {
  float:left;
  width:300px;
}
.basket-info-sum {
  float:right;
  width:300px;
  color:#5781b9;
  font-size:30px;
  font-weight:bold;
}
.basket-info-sum span{
  color:#4fc151;
}
.cont-button {
  background:#4fc151;
  width:290px;
  height:75px;
  border-radius:10px;
  display:block;
  float:right;
  text-align:center;
  line-height:75px;
  font-size: 30px;
  color: white;
}
.cont-block {
  margin:0px 70px 30px 0;
}
.order-area {
  width:960px;
  margin:0 auto 50px;
  background: url('../images/bg-order.png') right no-repeat;
  min-height: 475px;
}
.order-left-side {
  float:left;
}
.order-right-side {
  float:right;
}
.input-block {
  width:430px;
  margin-top: 20px;
}
.radio-block {
  margin:34px;
}
.input-block h5 {
  color:#626262;
  margin-bottom:5px;
  margin-left:10px;
  font-size:14px;
}
.input-block input {
  width:430px;
  height:40px;
  border:1px solid #4573b1;
  border-radius:7px;
  outline:none;
  font-size:18px;
  padding:0 10px;
}
.input-block textarea {
  width:430px;
  height:168px;
  border:1px solid #4573b1;
  border-radius:7px;
  outline:none;
  resize:none;
  font-size:18px;
  padding:0 10px;
}
.select-city {
  padding:0 20px;
}
.uploadfile {
  margin:10px 0 62px;
}
.uploadfile span {
  padding-left:10px;
  font-size:14px;
  color:#626262;
}
.order-actions {
  float:right;
  width:400px;
}
.order-back-link {
  float:left;
  line-height:62px;
  font-size:24px;
  color:#5781b9;
  font-weight:bold;
}
.order-cont-link {
  background:#4fc151;
  width:250px;
  height:62px;
  border-radius:10px;
  display:block;
  float:right;
  text-align:center;
  line-height:62px;
  font-size: 30px;
  color: white;
}
.deactive {
  background:#999;
}

.top-text{
   width: 820px;
   margin:20px auto;
   color: #626262;
   font-size: 12px;
   line-height: 1.4;
}

.group{
   width: 820px;
   margin: auto;
}
.group-container{
   padding-top: 20px;
   margin-left: -25px;
}
.group-block{
   float: left;
   width: 185px;
   height: 255px;
   margin-left: 25px;
   margin-bottom: 35px;
}
.group-img{
   height: 215px;
   text-align: center;
}
.group-cell{
   height: 40px;
   width: 185px;
   line-height: 1.2;
}
.group-link{
   width: 185px;
   display: table-cell;
   vertical-align: middle;
   height: 40px;
   text-align: center;
   font-size: 12px;
   color: #fff;
   background: #4573b1;
}

.top-text-container{
   border-bottom: 1px solid #4573b1;
}

.special{
   width: 860px;
   margin: auto;
   font-size: 12px;
   color: #626262;
   line-height: 1.4;
   padding-top: 20px;
}
   .special h5{
      font-weight: bold;
   }
      .special h5:after{
         content: "";
        display: block;
        width: 65px;
        border-top: 1px solid #4573b1;
        margin-top: 5px;
        margin-bottom: 10px;
      }
   .special p{
      margin-bottom: 20px;
   }
.special ul{
   margin-left: 25px;
   margin-bottom: 20px;
}
.special ul li:before {
    content: "";
    line-height: 1em;
    width: 7px;
    height: 7px;
    background-color: #4573b1;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
/*****************************/

.radio-btn {
   display: block;
   background: url(../images/radio-btn.png)no-repeat;
   cursor: pointer;
   text-indent: 25px;
   font-size: 13px;
}
.radio-btn.active {
   background: url(../images/radio-btn-a.png)no-repeat;
}

.delivery .radio-btn{
   color: #626262;
   font-size: 18px;
   font-family: Arial,sans-serif;
   font-weight: bold;
   margin-bottom: 25px;
   min-height: 20px;
}
   .delivery .radio-btn.active + div{
      display: block;
   }
.dpd-img{
   display: block;
   float: left;
   margin-left: 28px;
   position: relative;
   top: -8px;
}
.logo-post{
   display: block;
   float: left;
   margin-left: 28px;
}
.second-radio-btn{
   width: 200px;
   float: left;
   text-align: center;
   background: url(../images/radio-btn.png)no-repeat 50% 0;
   cursor: pointer;
}
   .second-radio-btn.active{
      background: url(../images/radio-btn-a.png)no-repeat 50% 0;
   }
   .second-radio-btn a{
      font-size: 18px;
      text-decoration: underline;
      color: #4573b1;
   }
.radio-img{
   height: 90px;
}
   .radio-img img{
      max-width: 100%;
      height: auto;
   }
   .radio-img-cell{
      width: 300px;
      height: 90px;
      padding-bottom: 5px;
      display: table-cell;
      vertical-align: bottom;
   }

.payment-options{
   text-align: center;
   margin-top: 50px;
   margin-bottom: 30px;
}
.pay-desc{
   margin-top: 30px;
}
.pay-desc p{
   font-weight: bold;
   font-size: 14px;
   color: #4573b1;
   margin-top: 5px;
}

.get-order-link{
   font-size: 20px;
   font-weight: bold;
}

.order-area3{
   background: url(../images/order3.png)no-repeat 100% 100%;
}

.second-radioblock {
   padding-top: 5px;
   padding-left: 50px;
   display: none;
}


.textarea-wrapper{
   padding-left: 50px;
}
.textarea-wrapper .title{
   color: #626262;
   font-size: 14px;
   margin-bottom: 5px;
}
.textarea-wrapper .title b{
   font-weight: bold;
}
.textarea-wrapper  .info-text{
   color: #4573b1;
   font-size: 12px;
   font-style: italic;
   margin-top: 42px;
   line-height: 1.2;
}
.textarea-wrapper input[type="text"]{
   height: 30px;
   width: 370px;
}
.textarea-wrapper textarea{
   height: 100px;
   width: 370px;
}
.textarea-wrapper .left-block{
   float: left;
   width: 370px;
}
.textarea-wrapper .right-block{
   float: left;
   margin-left: 55px;
   width: 370px;
}

.textarea-block{
   display: none;
}


.basket-active{
  width: 100% !important;;
  background-position: 50%;
}

  .basket-active table{
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
  }
  .basket-active table .name{
      color: #5781b9;
      text-decoration: underline;
  }
   .basket-active table .name:hover{
      text-decoration: none;
   }
  .basket-active table .price-total{
      color: #db0703; 
  }
  .basket-active table td:first-child{
      width: 65%;
      text-align: left;
      padding-left: 15px;
  }
  .basket-active table td:last-child{
      width: 35%;
      text-align: right;
  }
       

.filter-container .name{
  float: left;
  width: 180px;
  font-family: Arial,sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #626262;
  padding-top: 25px;
}
.properties{
  float: left;
  width: 750px;
}
.filter .radio{
  float: left;
  width: 25%;
}

.novelty .bx-wrapper{
  width: 975px;
}
.novelty .bx-viewport{
  height: 190px !important;
}

.novelty  .bx-wrapper .bx-prev {
  left: -30px;
  background: url('../images/controls.png') no-repeat 0 -32px;
}
.novelty .bx-wrapper .bx-prev:hover{
  background-position: 0 0;
}
.novelty  .bx-wrapper .bx-next {
  right: -30px;
  background: url('../images/controls.png') no-repeat -43px -32px;
}
.novelty .bx-wrapper .bx-next:hover {
  background-position: -43px 0;
}
.novelty .bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}

.novelty .h3{
  padding-left: 80px;
}
.checkbox input[type=checkbox] {
   position: absolute;
   left: -10000px;
}
.check {
   background: url(../images/check.png)no-repeat 1px 6px;
   padding-left: 25px;
   cursor: pointer;
   position: relative;
   padding-top: 9px;
}
.check.active {
   background: url(../images/check-a.png)no-repeat 1px 2px;
}
.order-actions-fiz{
   margin-top: 130px;
}
.check{
   color: #626262;
   font-size: 14px;
}
   .check a{
      text-decoration: underline;
      color: #4573b1;
   }

.order-area-fiz{
   background: url('../images/fiz.png') right no-repeat;
   min-height: 500px;
}
.complete-text{
   text-align: center;
   padding-top: 60px;
}
   .complete-text header{
      font-weight: bold;
      font-size: 24px;
      color: #4573b1;
   }
.number-order{
   color: #eb1c2a;
   text-decoration: underline;
}
   .number-order:hover{
      text-decoration: none;
   }
.small-complete{
   color: #626262;
   font-size: 14px;
   margin-top: 10px;
}
.back-catalog a{
   display: block;
   margin: auto;
   height: 75px;
   width: 235px;
   text-align: center;
   background: #4573b1;
   color: #fffefe;
   font-weight: bold;
   font-size: 18px;
   line-height: 75px;
   text-transform: uppercase;
   -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
           border-radius: 10px;
}
.back-catalog{
   margin-top: 30px;
}
.adress-area{
   font-weight: bold;
   font-size: 14px;
   color: #4573b1;
}
   .adress-area a{
      color: #626262;
      font-weight: normal;
      text-decoration: underline;
   }
.pay-card{
   display: inline-block;
}
.pay-desc-other .pay-card:first-child{
   margin-right: 75px;
}
.date-time{
   float: left;
   width: 60%;
}
.select{
   color: #626262;
   font-size: 14px;
   display: inline-block;
}
.slct {
   display: block;
   border: 1px solid #4674b2;
   background: #fff url(../images/arrow-date.png)no-repeat 100%;
   padding-left: 5px;
   width: 150px;
   height: 20px;
   color: #626262;
   overflow: hidden;
   white-space:nowrap;
   text-overflow: ellipsis;
   -o-text-overflow: ellipsis;   
   text-align: left;
}
.drop {
   margin: 0;
   padding: 0;
   width: 150px;
   border: 1px solid #4674b2;
   border-top: none;
   display: none;
   position: absolute;
   background: #fff;
}
.drop li {
   list-style: none;
   border-top: 1px dotted #e8e8e8;
   cursor: pointer;
   text-align: left;
   display: block;
   padding: 4px 5px 4px 5px;
}
.drop li:hover {
   background-color: #e8e8e8;
}
.content-date .left-block,
.content-date .right-block{
   float: left;
   width: 50%;
}
.content-date .right-block{
   text-align: center;
}
.choise-del{
   display: inline-block;
   text-align: left;
   font-size: 12px;
   color: #626262;
   margin-top: 30px;
}
   .choise-del .title{
      color: #626262;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 5px;
   }
.adress-text{
   float: left;
   width: 40%;
}
.adress-text textarea{
   width: 300px;
   height: 105px;
   resize:none;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   background-color: #fff;
   border: 1px solid #5781b9;
   outline: 0;
   padding-left: 10px;
   padding-top: 5px;
   font-size: 14px;
}
   .adress-text p{
      color: #626262;
      font-size: 14px;
      margin-bottom: 5px;
   }
      .adress-text p b{
         font-weight: bold;
      }
.content-date{
   margin-top: 15px;
}
.pay-card-radio{
   cursor: pointer;
   padding-bottom: 30px;
   background:url(../images/radio-btn.png)no-repeat 50% 99%;
}
   .pay-card-radio.active{
      background: url(../images/radio-btn-a.png)no-repeat 50% 99%;
   }
.date-time header img{
   max-width: 100%;
   height: auto;
}
.finish-status{
   width: 800px;
   margin: auto;
}
   .finish-status h4{
      color: #4573b1;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 30px;
   }
.finish-contact li{
   color: #626262;
   font-size: 18px;
   line-height: 1.2;
   margin-bottom: 3px;
   padding-left: 70px;
}
   .finish-contact li b{
      font-weight: bold;
   }
.finish-contact,
.finish-del{
   margin-bottom: 30px;
}

.finish-del p{
   color: #626262;
   font-size: 18px;
   padding-left: 70px;
}
.finish-del p a{
   color: #4573b1;
   text-decoration: underline;
}
.pay-card p{
   font-size: 14px;
   margin-top: 5px;
   color: #4573b1;
   font-weight: bold;
}
.pay-card{
   margin-left: 70px;
}